<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="container">
  <h2>List class of school</h2>
	<table class="table table-hover">
		<thead class="thead-dark">
			<tr>
				<th scope="col">#</th>
				<th scope="col">Name Class</th>
				<th scope="col">Number Class</th>
				<th scope="col">*</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let data of classesData">
				<th scope="row">{{data.id}}</th>
				<td>{{data.name}}</td>
				<td>{{data.room_number}}</td>
				<td><a [routerLink]="['class-detail', data.id]">Detail</a></td>
			</tr>
		</tbody>
	</table>

  <button [routerLink]="['../../add-class', scId]" class="btn btn-outline-success btnclasslist">
  Add new class</button>

</div>