<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="container">
 
	<button [routerLink]="['../../add-class', scId]" class="btn btn-success">
  Add new class</button>
  
    
	<table class="table">
		<caption>List class of school</caption>
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Name Class</th>
				<th scope="col">Number Class</th>
				<th scope="col">*</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let data of classesData">
				<th scope="row">{{data.id}}</th>
				<td>{{data.name}}</td>
				<td>{{data.room_number}}</td>
				<td><a [routerLink]="['class-detail', data.id]">Detail</a></td>
			</tr>
		</tbody>
	</table>

</div>