<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div class="container">
	<div *ngIf="schoolData==null">
		<div class="text-center">
			<div class="spinner-border" role="status">
				<span class="sr-only">Loading...</span>
			</div>
		</div>
	</div>
	<div *ngIf="schoolData!=null">
		<div class="card text-center">
		<div class="card-header">
			INFORMATION SCHOOL
		</div>
		<div class="card-body">
			<img [src]="schoolData.logo" style="margin-bottom:20px;">
			<h5 class="card-title">Name : {{schoolData.name}}</h5>
			<p class="card-text">Address : {{schoolData.address}}</p>
			<p class="card-text">President : {{schoolData.president}}</p>
			<p class="card-text">Province : {{schoolData.province}}</p>
      <a [routerLink]="['../../edit-school',schoolData.id]" class="btn btn-outline-primary">Edit</a>
      &nbsp;&nbsp;
      <a (click)="remove()" class="btn btn-outline-danger">Delete</a>
		</div>
	</div>
	</div>
    &nbsp;
<app-classes-list></app-classes-list>
</div>