<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div class="container">
	<div *ngIf="classData==null">
		<div class="text-center">
			<div class="spinner-border" role="status">
				<span class="sr-only">Loading...</span>
			</div>
		</div>
	</div>
	<div *ngIf="classData!=null">
		<div class="card text-center">
			<div class="card-header">
				Information class
			</div>
			<div class="card-body">
				<h5 class="card-title">Name : {{classData.name}} </h5>
				<p class="card-text">Number Class :{{classData.room_number}} </p>
				<p class="card-text">Total Student :{{classData.total_student}} </p>
				<p class="card-text">Main Teacher :{{classData.main_teacher}} </p>
				<a [routerLink]="['../../../../edit-class', classData.id, classData.schoolId]" class="btn btn-primary">Edit</a>
				&nbsp;&nbsp;
				<a (click)="removeClass();" class="btn btn-danger">Delete</a>
			</div>
			<div class="card-footer text-muted">
				2 days ago
			</div>
		</div>
	</div>