<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="container">
	<a routerLink="add-school" style="margin-bottom : 30px;" type="button" class="btn btn-outline-danger">Add new school</a>

	<table class="table table-hover">
		<caption>List of schools</caption>
		<thead class="thead-dark">
			<tr>
				<th scope="col">#</th>
				<th scope="col">Logo</th>
				<th scope="col"> School Name</th>
        <th scope="col">Address</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let sc of schools">
				<th scope="row">{{sc.id}}</th>
				<td><img [src]="sc.logo" height="100px" width="100px"> </td>
				<td>{{sc.name}}</td>
        <td>{{sc.address}}</td>
				<td><a [routerLink]="['detail',sc.id]">Detail</a></td>
			</tr>

		</tbody>
	</table>

</div>