<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="container">
	<div align="center" style="margin-bottom:30px;">
		<h2>School Form</h2>
	</div>
	<form [formGroup]="schoolForm">
		<div class="input-group mb-3">
			<div class="input-group-prepend">
			  <span class="input-group-text" id="inputGroup-sizing-default">School name :</span>
		  </div>
		  <input type="text" formControlName="name" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
       <div *ngIf="name.errors.required">
         Hãy tên trường học
       </div>
       <div *ngIf="name.errors.minlength">
        Tên trường học không được ít hơn 25 ký tự
       </div>
       <div *ngIf="name.errors.maxlength">
        Tên trường học không được vượt quá 200 ký tự
       </div>
    </div>
    </div>
		<div class="input-group mb-3">
			<div class="input-group-prepend">
			  <span class="input-group-text" id="inputGroup-sizing-default">School logo :</span>
		  </div>
		  <input type="text" formControlName="logo" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
	  <div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text" id="inputGroup-sizing-default">School address :</span>
			</div>
			<input type="text" formControlName="address" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text" id="inputGroup-sizing-default">President :</span>
			</div>
			<input type="text" formControlName="president" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text" id="inputGroup-sizing-default">Province :</span>
			</div>
			<input type="text" formControlName="province" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
		<div align="center">
			<button type="button" (click)="save()" class="btn btn-outline-info btnsaveschool" [disabled]="schoolForm.invalid">Save</button>
    </div>
	</form>
</div>